<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Bartłomiej Chojnacki" />
        <link rel="icon" type="image/x-icon" th:href="@{/img/logo_transparent.png}">
        <title>8gag</title>

        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/btnlinkdisable.css}" href="../static/css/btnlinkdisable.css"/>
        <style>
             body {background-color: #121212;}
                     img {
              max-width: 70%;
              max-height: 70%;
        }
        a{color: white;
        }
        </style>
    </head>

    <body>

        <!-- Responsive navbar-->
        <nav th:replace="/common/navbar.html"></nav>


        <div class="p-3 mb-2 bg-dark text-white text-center" style="margin-top:100px; ">
            <h1>Posts</h1>
            <div>

                <div class="container" style="max-width: 650px; ">
                <div th:each="post: ${postList}"   class="border border-secondary p-3 rounded" style="margin-bottom:20px;" >
                    <div class="container" style="margin: 0 auto;">
                   <a th:href="@{${post.postView}}"> <h3 th:text="${post.title}">Posts</h3></a>


                    <img th:src="@{${post.photosImagePath}}" height="350"/>

                </div>
            </div>

        </div>



        <footer th:replace="/common/footer.html"></footer>
    </body>
</html>
